/*
    typed..Esraa Yousef
*/
body::-webkit-scrollbar-track, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .all-header.fixed,
.mobile-header.fixed {
  -webkit-box-shadow: 0 6px 18px rgba(196, 205, 224, 0.3);
  -moz-box-shadow: 0 6px 18px rgba(196, 205, 224, 0.3);
  -o-box-shadow: 0 6px 18px rgba(196, 205, 224, 0.3);
  box-shadow: 0 6px 18px rgba(196, 205, 224, 0.3); }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, a:hover, a:focus {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s; }

/* fonts */
@font-face {
  font-family: 'Nunito-Light';
  src: url("../fonts/Nunito-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nunito-Bold';
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nunito-regular';
  src: url("../fonts/Nunito-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * ::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-family: "Nunito-Bold", sans-serif; }

body {
  font-family: "Nunito-regular", sans-serif;
  color: #263871;
  padding: 0 !important;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 20px;
  text-align: start; }
  body::-webkit-scrollbar {
    width: 8px; }
  body::-webkit-scrollbar-thumb {
    background-color: #263871;
    outline: 1px solid #263871;
    border-radius: 2px; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    outline: none; }

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

ul {
  padding: 0; }

.rtl .list-inline,
.rtl .list-unstyled,
.rtl .pagination,
[dir=rtl] .list-inline,
[dir=rtl] .list-unstyled,
[dir=rtl] .pagination {
  padding: 0; }

section {
  padding: 30px 0;
  overflow: hidden; }

b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito-Bold", sans-serif; }

b {
  font-family: "Nunito-Bold", sans-serif; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.form-group {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px; }

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #9fa9bf;
  font-weight: 600; }

.form-control {
  border: 1px solid #D4D4D4;
  color: #263871;
  caret-color: #3465fa;
  position: relative;
  direction: initial;
  text-align: start;
  border-radius: 5px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Nunito-Bold", sans-serif;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 5px;
  outline: 0;
  opacity: 1; }
  .form-control::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-family: "Nunito-Bold", sans-serif; }
  .form-control:hover, .form-control:focus {
    outline: unset;
    box-shadow: unset;
    border-color: #263871; }

textarea.form-control {
  height: 103px;
  resize: inherit;
  direction: inherit; }
  textarea.form-control::placeholder {
    color: #BEBEBE;
    direction: inherit; }
  textarea.form-control:focus {
    outline: inherit;
    box-shadow: none;
    border-color: #263871; }

option:disabled {
  color: #d1d2d5; }

.btn-primary {
  color: #fff !important;
  background-color: #263871;
  border-color: #263871;
  opacity: 0.9; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #263871;
    opacity: 1; }
  .btn-primary:disabled, .btn-primary.disabled {
    background-color: #263871;
    border-color: #263871;
    opacity: 0.5;
    cursor: not-allowed; }

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
  padding-right: calc(1.5em + .75rem);
  padding-left: 15px;
  background-position: center right calc(.375em + .1875rem); }
  .form-control.is-invalid:focus,
  .was-validated .form-control:invalid:focus,
  .form-control.is-valid:focus,
  .was-validated .form-control:valid:focus {
    box-shadow: none;
    outline: none; }

.custom-select.is-valid,
.was-validated .custom-select:valid {
  border-color: #28a745;
  padding-left: 15px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 2rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 0.75rem/calc(.75em + .375rem) calc(.75em + .375rem); }
  .custom-select.is-valid:focus,
  .was-validated .custom-select:valid:focus {
    box-shadow: none;
    outline: none; }

.invalid-feedback {
  font-size: 13px;
  color: #ee3e3e;
  text-align: left; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.note {
  color: red;
  font-size: 13px;
  font-family: "Nunito-Bold", sans-serif; }

.main-color {
  color: #263871; }

.font-color {
  color: #9fa9bf; }

.text-underline {
  text-decoration: underline; }

.text-main {
  color: #263871; }

.text-black {
  color: #263871; }

.text-muted {
  color: #9ba5ca !important; }

.white-bg {
  background-color: #ffffff; }

.grey-bg {
  background-color: #d1d2d5; }

.center {
  text-align: center;
  margin: auto;
  display: block; }

.hidden {
  display: none; }

.white-font {
  color: #ffffff; }

.card-body {
  padding: 1.5rem; }

.login-bg,
.message-bg {
  background: url(../images/login1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.page-single,
.page-single-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  border: 0;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(196, 205, 224, 0.2);
  border-radius: 13px; }

.card p.text-muted {
  margin-bottom: 0; }

.custom-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .custom-row .form-group {
    width: 50%; }
    .custom-row .form-group:nth-child(even) {
      padding-left: 0.5rem; }
    .custom-row .form-group:nth-child(odd) {
      padding-right: 0.5rem; }

.modal .modal-body h3 {
  text-align: center;
  font-size: 16px; }

@media (min-width: 992px) {
  .mobile-visible {
    display: none; }

  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }

  .dropdown-submenu:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); } }
@media (max-width: 1199px) {
  .navbar .nav-item .nav-link {
    font-size: 14px; } }
@media (max-width: 991px) {
  .mobile-visible {
    display: block;
    padding: 10px 0; }
    .mobile-visible.mobile-header {
      background-color: #ffffff; }
      .mobile-visible.mobile-header .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; }
        .mobile-visible.mobile-header .mobile-menu .right-grid {
          display: flex;
          align-items: center; }
          .mobile-visible.mobile-header .mobile-menu .right-grid .menu-wrapper {
            padding: 0; }
          .mobile-visible.mobile-header .mobile-menu .right-grid .navbar-brand {
            width: 100px;
            margin-right: 10px;
            padding: 0; }
        .mobile-visible.mobile-header .mobile-menu .left-grid {
          display: flex;
          align-items: center;
          position: relative; }
          .mobile-visible.mobile-header .mobile-menu .left-grid img {
            max-width: 25px; }
          .mobile-visible.mobile-header .mobile-menu .left-grid .mobile-box.search-button {
            margin-left: 15px; }
            .mobile-visible.mobile-header .mobile-menu .left-grid .mobile-box.search-button .search-toggle {
              position: relative;
              display: block;
              color: #373737; }
              .mobile-visible.mobile-header .mobile-menu .left-grid .mobile-box.search-button .search-toggle i {
                font-size: 24px; }
              .mobile-visible.mobile-header .mobile-menu .left-grid .mobile-box.search-button .search-toggle.active {
                color: #ea291a; }
                .mobile-visible.mobile-header .mobile-menu .left-grid .mobile-box.search-button .search-toggle.active .la-search:before {
                  content: "\f00d";
                  font-family: "Line Awesome Free";
                  font-style: normal;
                  font-weight: 900; }
        .mobile-visible.mobile-header .mobile-menu .search-box {
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 100%;
          max-height: 0;
          border: 1px solid #D4D4D4;
          color: #BEBEBE;
          caret-color: #9399FF;
          text-align: right;
          height: 52px;
          padding-right: 15px;
          border-radius: 5px;
          font-size: 14px;
          font-family: "Nunito-Bold", sans-serif;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
          background-color: #f5f5f5;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          visibility: hidden;
          opacity: 0; }
          .mobile-visible.mobile-header .mobile-menu .search-box .search-button {
            font-size: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 9;
            color: #373737; }
          .mobile-visible.mobile-header .mobile-menu .search-box .search-input {
            width: 100%;
            height: 100%;
            padding: 0 1em;
            border: 0;
            background-color: transparent;
            opacity: 0;
            color: #9fa9bf;
            font-size: 13px; }
            .mobile-visible.mobile-header .mobile-menu .search-box .search-input::placeholder {
              font-size: 13px; }
        .mobile-visible.mobile-header .mobile-menu.show .search-box {
          max-height: 40px;
          visibility: visible;
          opacity: 1;
          z-index: 3; }
          .mobile-visible.mobile-header .mobile-menu.show .search-box .search-input {
            opacity: 1;
            outline: none; }

  .navbar-collapse {
    -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transform-origin: right;
    position: absolute;
    right: -100%;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight; }
    .navbar-collapse .close-menu {
      color: #373737;
      font-size: 24px;
      z-index: 1001;
      display: block;
      text-align: left;
      margin-right: auto;
      font-weight: 900;
      padding: 0; }
    .navbar-collapse.show {
      right: 0;
      transform-origin: left;
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      z-index: 999; }
      .navbar-collapse.show .mega-dropdown-menu {
        position: static;
        float: none;
        border: none; }
        .navbar-collapse.show .mega-dropdown-menu.show {
          display: block;
          max-height: 250px;
          overflow-y: scroll;
          overflow-x: hidden; }
          .navbar-collapse.show .mega-dropdown-menu.show .dropdown-item {
            font-size: 13px;
            color: #9c9a9a; }
          .navbar-collapse.show .mega-dropdown-menu.show .preview-new {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 5px;
            max-width: 200px;
            overflow: hidden;
            margin: 20px auto 0; }
            .navbar-collapse.show .mega-dropdown-menu.show .preview-new img {
              width: 100%; }
            .navbar-collapse.show .mega-dropdown-menu.show .preview-new .overlay-preview {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.56) 0%, rgba(85, 85, 85, 0.3) 1%, rgba(77, 77, 77, 0.3) 99%);
              background: -o-linear-gradient(top, rgba(0, 0, 0, 0.56) 0%, rgba(85, 85, 85, 0.3) 1%, rgba(77, 77, 77, 0.3) 99%);
              background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.56) 0%, rgba(85, 85, 85, 0.3) 1%, rgba(77, 77, 77, 0.3) 99%);
              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.56) 0%, rgba(85, 85, 85, 0.3) 1%, rgba(77, 77, 77, 0.3) 99%);
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56) 0%, rgba(85, 85, 85, 0.3) 1%, rgba(77, 77, 77, 0.3) 99%);
              z-index: 1001; }
              .navbar-collapse.show .mega-dropdown-menu.show .preview-new .overlay-preview h3 {
                font-size: 20px;
                color: #ffffff;
                font-family: "Nunito-Bold", sans-serif;
                margin-bottom: 15px; }
              .navbar-collapse.show .mega-dropdown-menu.show .preview-new .overlay-preview p {
                color: #ffffff;
                margin-bottom: 0;
                font-family: "Nunito-regular";
                font-size: 14px; }
    .navbar-collapse .navbar-nav {
      padding-top: 70px;
      position: relative;
      background-color: #ffffff;
      z-index: 999; }
      .navbar-collapse .navbar-nav .nav-item {
        display: block;
        text-align: right;
        margin-bottom: 15px;
        font-size: 14px;
        background-color: #ffffff; }
        .navbar-collapse .navbar-nav .nav-item .nav-link {
          padding: 0;
          position: relative;
          background-color: #ffffff; }
          .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
            border: none;
            content: "\f107";
            font-family: "Line Awesome Free";
            font-style: normal;
            font-weight: 900;
            font-size: 11px;
            position: absolute;
            left: 0;
            top: 0; }

  .navbar .nav-item .nav-link.active:before, .navbar .nav-item .nav-link:hover:before, .navbar .nav-item .nav-link:focus:before {
    display: none; }

  .rtl .navbar-nav .nav-item + .nav-item,
  [dir="rtl"] .navbar-nav .nav-item + .nav-item {
    margin-right: 0; }

  .top-header .grid-lists ul li span.text {
    display: none; }

  .second-header,
  .main-menu {
    display: none; }

  [dir="rtl"] .slick-dots {
    bottom: 10px; }
    [dir="rtl"] .slick-dots li {
      height: 15px;
      width: 15px;
      margin: 0 2px; }
      [dir="rtl"] .slick-dots li button {
        height: 10px;
        width: 10px;
        border-radius: 10px; }

  .banner-slider .slick-prev,
  .banner-slider .slick-next {
    display: none !important; }

  .banner-slider .banner-slide img {
    height: 200px;
    width: 100%; }
  .banner-slider .banner-slide-wrapper .overlay .right-center {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .banner-slider .banner-slide-wrapper .overlay .right-center h1 {
      font-size: 20px;
      margin-bottom: 10px; }
  .banner-slider .banner-slide-wrapper .watermark-bottom-left {
    width: 50px;
    left: 20px;
    bottom: 10px; }
    .banner-slider .banner-slide-wrapper .watermark-bottom-left img {
      max-width: 100%;
      height: auto; } }
@media (max-width: 767px) {
  section {
    padding: 20px 0; }

  .bottom-info {
    flex-direction: column; }
    .bottom-info .prices {
      margin-bottom: 10px; }

  .title .main-title {
    font-size: 15px; }
  .title:before {
    width: calc(100% - 80px); }

  .second-title {
    margin-bottom: 15px;
    font-size: 15px; }

  .white-arrows .slick-prev,
  .white-arrows .slick-next {
    width: 30px;
    height: 30px;
    line-height: 30px; }
    .white-arrows .slick-prev:before,
    .white-arrows .slick-next:before {
      line-height: 30px;
      font-size: 18px; }

  .top-arrows .slick-prev,
  .top-arrows .slick-next {
    top: -40px; }
  .top-arrows .slick-prev {
    left: 40px;
    right: unset; }

  .card .hover-item img {
    max-height: 170px;
    width: 100%; }

  .banner-grids .banner-div img {
    min-height: 100px; }

  .subscribe .form-subscribtion {
    width: 100%;
    margin: 0 auto 15px; }

  .download-block .right-grid {
    padding-bottom: 0; }
    .download-block .right-grid h3 {
      margin-bottom: 20px;
      font-size: 18px; }
    .download-block .right-grid .download-btns a {
      display: inline-block;
      margin: 0 10px 0; }
  .download-block .mockups-preview {
    height: 300px;
    display: flex;
    padding-top: 20px; }

  .subscribe {
    padding: 15px 0; }

  .features-list {
    position: relative;
    top: 0; }
    .features-list .col-md-3:not(:last-of-type) {
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .features-list .col-md-3:not(:last-of-type):after {
        width: 90%;
        height: 1px;
        left: 50%;
        top: 100%;
        transform: translateX(-50%); }

  footer {
    padding: 15px 0; }
    footer .header-col {
      margin-top: 10px; }
      footer .header-col h3 {
        margin-bottom: 0;
        font-size: 15px; }
    footer .footer-social li a {
      font-size: 13px; }

  .copy-right {
    padding: 10px 0; }
    .copy-right .center p {
      font-size: 9px; } }
@media (max-width: 575px) {
  .slick-initialized .slick-slide {
    text-align: center; }
    .slick-initialized .slick-slide > div {
      margin: auto;
      margin: 0 auto; }

  .categories-slider .category-slide {
    width: 200px !important; }

  .product-slide {
    width: 200px !important; }

  .card .card-title {
    font-size: 13px; }

  .banner-grids .banner-div {
    margin-bottom: 15px; } }
.all-header.fixed,
.mobile-header.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9; }

/*# sourceMappingURL=style.css.map */
