@media (max-width: 991px) {
    .box-lg-600 {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .box-lg-600 {
        width: 300px;
    }

    .h1,
    h1 {
        font-size: 1.5rem;
    }

    .form-label,
    input,
    label,
    .label {
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    .box-lg-600 {
        width: 280px;
    }
}