/*
    typed..Esraa Yousef
*/

$white-color: #ffffff;
$black-color: #373737;
$main-color: #263871;
$second-black: #414141;
$second-color: #3465fa;
$font-color: #9fa9bf;
$light-grey: #d1d2d5;
$red-color: #FF4646;
$radius: 5px;

%shadow {
    -webkit-box-shadow: 0 6px 18px rgba(196, 205, 224, 0.30);
    -moz-box-shadow: 0 6px 18px rgba(196, 205, 224, 0.30);
    -o-box-shadow: 0 6px 18px rgba(196, 205, 224, 0.30);
    box-shadow: 0 6px 18px rgba(196, 205, 224, 0.30);
}

%ease {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}


/* fonts */
@font-face {
    font-family: 'Nunito-Light';
    src: url('../fonts/Nunito-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-regular';
    src: url('../fonts/Nunito-regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


$font-light: 'Nunito-Light';
$font-regular: 'Nunito-regular';
$font-medium: 'Nunito-Bold';